{% extends "layouts/base-fullscreen.html" %}
{% block title %} Update Password {% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="mb-4">Update Password</h3>
                    <label>Nombre de usuario:</label>
                    <input type="text" value="{{ username }}" readonly>
                    <!-- Otros campos del formulario -->
                    <form role="form" method="post" action="{{ url_for('authentication_blueprint.process_update_password') }}">
                        {{ form.csrf_token }}
                        <label>{{ form.email_or_username.label }}</label>
                        {{ form.email_or_username(class="form-control") }}
                        <label>{{ form.password.label }}</label>
                        {{ form.password(class="form-control") }}
                        <label>{{ form.confirm_password.label }}</label>
                        {{ form.confirm_password(class="form-control") }}
                        <button type="submit" name="submit" class="btn btn-primary shadow-2 mb-4">Update</button>
                    </form>                                           
                </div>
            </div>
        </div>
    </div>
{% endblock %}